<a href="https://colab.research.google.com/github/diegog20-coder/Infraestructura_Datos/blob/main/taller_21022026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
nombre = input ("C√∫al es tu nombre")
print("hola, mucho gusto ",nombre)

KeyboardInterrupt: Interrupted by user

In [ ]:
import random
numero_persona = int(input("dame un numero:"))
numero_maquina = random.randint(1,10)
print ("El numero de la persona es: ", numero_persona)
print ("El numero de la maquina es: ", numero_maquina)
if numero_persona == numero_maquina:
    print("Ha ganado la Maquina, Matrix!!")
else:
    print("Le Ganaste a la Matrix!!:)")

In [ ]:
import random
import time

def juego_par_impar_vs_maquina():
    """
    Juego donde el usuario ingresa un n√∫mero y la m√°quina intenta
    adivinar aleatoriamente si es par o impar.
    """
    print("--- ü§ñ Juego: Desaf√≠a a la Matrix (Par o Impar) ü§ñ ---")

    # 1. Solicitar el n√∫mero al usuario de forma segura
    while True:
        try:
            entrada = input("Ingresa un n√∫mero entero para jugar: ")
            numero_usuario = int(entrada)
            break  # Si la conversi√≥n a entero funciona, salimos del bucle
        except ValueError:
            print("‚ö†Ô∏è Error: Eso no es un n√∫mero entero v√°lido. Int√©ntalo de nuevo.")

    # 2. Determinar la realidad: ¬øEl n√∫mero del usuario es par o impar?
    if numero_usuario % 2 == 0:
        realidad_numero = "par"
    else:
        realidad_numero = "impar"

    # 3. La m√°quina hace su predicci√≥n aleatoria
    print("\nLa m√°quina est√° analizando tu n√∫mero...")
    time.sleep(1) # Peque√±a pausa para dar emoci√≥n

    opciones_maquina = ["par", "impar"]
    prediccion_maquina = random.choice(opciones_maquina)

    print(f"üîÆ Predicci√≥n de la m√°quina: ¬°Tu n√∫mero es {prediccion_maquina.upper()}!")
    time.sleep(0.5)

    # 4. Mostrar la realidad y comparar
    print(f"üí° Realidad: El n√∫mero {numero_usuario} es efectivamente {realidad_numero.upper()}.")

    print("\n--- Resultado Final ---")
    # La m√°quina gana si su predicci√≥n es igual a la realidad
    if prediccion_maquina == realidad_numero:
        print("üí• ¬°La m√°quina ha acertado su predicci√≥n!")
        print("Ha ganado la Maquina, Matrix!!")
    else:
        print("üéâ ¬°La m√°quina se ha equivocado!")
        print("Le Ganaste a la Matrix!!:)")
    print("-----------------------")

# Ejecutar el juego
if __name__ == "__main__":
    juego_par_impar_vs_maquina()

In [26]:
import random
import time
import os

def limpiar_pantalla():
    # Limpia la consola seg√∫n el sistema operativo
    os.system('cls' if os.name == 'nt' else 'clear')

def imprimir_encabezado():
    print("=" * 50)
    print("      üïπÔ∏è  BIENVENIDO A: PAR O IMPAR MATRIX üïπÔ∏è      ")
    print("=" * 50)

def jugar():
    limpiar_pantalla()
    imprimir_encabezado()

    # Entrada del usuario con estilo
    try:
        n_usuario = int(input("\nüëâ Ingrese un n√∫mero para desafiar al sistema: "))
    except ValueError:
        print("\n‚ùå ERROR: La Matrix solo acepta n√∫meros enteros.")
        return

    # Proceso de "Pensamiento" de la M√°quina
    print("\n[ANALIZANDO N√öMERO...]")
    time.sleep(0.8)

    prediccion_maquina = random.choice(["PAR", "IMPAR"])
    es_par = (n_usuario % 2 == 0)
    resultado_real = "PAR" if es_par else "IMPAR"

    # Visualizaci√≥n de Resultados en Formato Pro
    print("\n" + "‚îå" + "‚îÄ" * 48 + "‚îê")
    print(f"‚îÇ  TU N√öMERO: {str(n_usuario).center(34)} ‚îÇ")
    print(f"‚îÇ  PREDICCI√ìN DE LA MATRIX: {prediccion_maquina.center(21)} ‚îÇ")
    print("‚îî" + "‚îÄ" * 48 + "‚îò")

    time.sleep(1)
    print(f"\nüì¢ LA REALIDAD ES: ¬°El n√∫mero {n_usuario} es {resultado_real}! \n")

    # Verificaci√≥n de Ganador
    print("=" * 50)
    if prediccion_maquina == resultado_real:
        print("         üíÄ ¬°LA MATRIX HA GANADO! üíÄ         ")
        print("          (Su predicci√≥n fue acertada)         ")
    else:
        print("         üéâ ¬°LE GANASTE A LA MATRIX! üéâ        ")
        print("          (La m√°quina fall√≥ el c√°lculo)         ")
    print("=" * 50)

    # Opci√≥n de reintento
    volver = input("\n¬øDeseas intentar otra vez? (s/n): ").lower()
    if volver == 's':
        jugar()
    else:
        print("\nDesconectando de la Matrix... Adi√≥s. üëã")

if __name__ == "__main__":
    jugar()

==================================================
      üïπÔ∏è  BIENVENIDO A: PAR O IMPAR MATRIX üïπÔ∏è
==================================================

üëâ Ingrese un n√∫mero para desafiar al sistema: 10

[ANALIZANDO N√öMERO...]

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ  TU N√öMERO:                 10                 ‚îÇ
‚îÇ  PREDICCI√ìN DE LA MATRIX:         IMPAR         ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

üì¢ LA REALIDAD ES: ¬°El n√∫mero 10 es PAR!

==================================================
         üéâ ¬°LE GANASTE A LA MATRIX! üéâ
          (La m√°quina fall√≥ el c√°lculo)
==================================================

¬øDeseas intentar otra vez? (s/n): s
==================================================
      üïπÔ∏è  BIENVENIDO A: PAR O IMPAR MATRIX üïπÔ∏è
==================================================

üëâ Ingrese un n√∫mero para desafiar al sistema: 12

[ANALIZANDO N√öMERO...]

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ  TU N√öMERO:                 12                 ‚îÇ
‚îÇ  PREDICCI√ìN DE LA MATRIX:         IMPAR         ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

üì¢ LA REALIDAD ES: ¬°El n√∫mero 12 es PAR!

==================================================
         üéâ ¬°LE GANASTE A LA MATRIX! üéâ
          (La m√°quina fall√≥ el c√°lculo)
==================================================

¬øDeseas intentar otra vez? (s/n): n

Desconectando de la Matrix... Adi√≥s. üëã

In [30]:
def cifrado_cesar_13(texto):
    resultado = ""
    desplazamiento = 13

    for caracter in texto:
        # Verificar si es una letra may√∫scula
        if caracter.isupper():
            # (C√≥digo ASCII - Inicio Alfabeto + Desplazamiento) % 26 + Inicio Alfabeto
            nuevo_ascii = (ord(caracter) - 65 + desplazamiento) % 26 + 65
            resultado += chr(nuevo_ascii)

        # Verificar si es una letra min√∫scula
        elif caracter.islower():
            nuevo_ascii = (ord(caracter) - 97 + desplazamiento) % 26 + 97
            resultado += chr(nuevo_ascii)

        # Si no es letra (espacio, punto, etc.), se queda igual
        else:
            resultado += caracter

    return resultado

# --- Prueba del programa ---
mensaje_original = input("üìù Escribe el mensaje a cifrar: ")
mensaje_cifrado = cifrado_cesar_13(mensaje_original)

print(f"\nüîê Mensaje Cifrado: {mensaje_cifrado}")
print(f"üîì Si lo vuelves a cifrar: {cifrado_cesar_13(mensaje_cifrado)}")

üìù Escribe el mensaje a cifrar: qvrtb

üîê Mensaje Cifrado: diego
üîì Si lo vuelves a cifrar: qvrtb

In [33]:
import hashlib

mensaje_original = input("üìù Escribe el mensaje a cifrar: ")
# Encode the message to bytes before hashing
mensaje_cifrado = hashlib.md5(mensaje_original.encode()).hexdigest()

print("Original:", mensaje_original)
print("Cifrado (MD5):", mensaje_cifrado)

üìù Escribe el mensaje a cifrar: hola
Original: hola
Cifrado (MD5): 4d186321c1a7f0f354b297e8914ab240

In [47]:
import pandas as pd

ruta_archivo="/content/sample_data/california_housing_test.csv"
datos = pd.read_csv(ruta_archivo)
datos.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
647,-118.16,34.18,48.0,568.0,145.0,559.0,135.0,2.4135,135700.0
2704,-122.16,37.45,52.0,1135.0,219.0,441.0,200.0,7.5418,492000.0
2838,-118.57,34.17,35.0,2072.0,318.0,908.0,342.0,6.0928,327300.0
2096,-118.31,33.77,20.0,5776.0,956.0,2757.0,936.0,6.6447,416800.0
2053,-122.25,37.45,34.0,2999.0,365.0,927.0,369.0,10.2811,500001.0
1503,-121.28,38.76,47.0,2901.0,631.0,1276.0,578.0,2.1366,101900.0
2536,-122.31,38.00,29.0,3108.0,534.0,1687.0,516.0,4.3333,170800.0
624,-118.63,34.18,33.0,5252.0,760.0,2041.0,730.0,6.7977,389700.0
313,-118.36,33.96,26.0,3543.0,1055.0,2742.0,951.0,2.5504,151300.0
1474,-120.51,39.52,26.0,2286.0,444.0,498.0,216.0,2.0650,96100.0

In [48]:
import pandas as pd

ruta_archivo ="/content/2_BDHTADMERC_DICIEMBRE2025_R.SUB-R.CON_ACTIVOS (1).xlsx"

datos = pd.read_excel(ruta_archivo)
datos.sample(10)

,Departamento,Cod_Dep,Cod_Municipio de residencia,Nombre mpio,Campo 1 Primer nombre del usuario,Campo 2 Segundo nombre del usuario,Campo 3 Primer apellido del usuario,Campo 4 Segundo apellido del usuario,Campo 5 Tipo de Identificaci√≥n del usuario,Campo 6 N√∫mero de Identificaci√≥n del usuario,...,Campo 40 Fecha de diagn√≥stico de ERC estadio 5 (Solo aplica si marco la opci√≥n 5 de la pregunta anterior),Campo 43 Modo de Inicio de la Terapia de Reemplazo Renal (primera TRR),"Campo 44 Fecha en que se inicio la terapia de reemplazo renal que recibe el usuario en el momento de la fecha de corte. S√≠ el Trasplante es la terapia reportada, esta Fecha se refiere a la Fecha de trasplante","Campo 45 Fecha de Ingreso a la Unidad Renal Actual que le presta el servicio en el momento de la fecha de corte, en cualquier modalidad de terapia dial√≠tica (Unidad Actual)",Campo 46 Hemodi√°lisis (HD),Campo 49 Di√°lisis peritoneal (DP),Campo 57 Terapia no Dial√≠tica para ERC estadio 5 (tambi√©n llamada tratamiento m√©dico de nefroproteci√≥n),Campo 64 ¬øEl usuario ha recibido trasplante renal?,NIVEL ATENCION,OBSERVACION PARA EL CALCULO DEL INDICADOR
8743,VALLE,76,76890,YOTOCO,AMERICO,0,GUERRERO,PACHECO,CC,2690637,...,1845-01-01,99,1845/01/01,1845/01/01,98,98,2,5,ESE MUNICIPAL,NaN
13083,VALLE,76,76001,CALI,LUIS,CARLOS,ARCOS,CERON,CC,1821245,...,1845-01-01,97,1845/01/01,1845/01/01,98,98,2,5,NODO,NaN
26809,NARI√ëO,52,52585,PUPIALES,MARIA,JESUS,CORAL,ERAZO,CC,27396819,...,1845-01-01,97,1845/01/01,1845/01/01,98,98,2,5,ESE MUNICIPAL,NaN
99074,NARI√ëO,52,52678,SAMANIEGO,JOSE,FIDENCIO,VALLEJOS,VALLEJOS,CC,5327969,...,1845-01-01,97,1845/01/01,1845/01/01,98,98,2,5,ESE MUNICIPAL,NaN
73537,VALLE,76,76001,CALI,CARLOS,ANCIZAR,BAUTISTA,FLECHAS,CC,94460596,...,1845-01-01,97,1845/01/01,1845/01/01,98,98,2,5,ESE MUNICIPAL,NaN
163703,VALLE,76,76834,TULUA,FERNEY,0,CAICEDO,MARIN,CC,16753718,...,1845-01-01,97,1845/01/01,1845/01/01,98,98,2,5,ESE MUNICIPAL,retirado del calculo del indicador: Porcentaje...
106452,VALLE,76,76520,PALMIRA,JOSE,DE JESUS,MONSALVE,MORALES,CC,9795055,...,1845-01-01,97,1845/01/01,1845/01/01,98,98,2,5,ESE MUNICIPAL,NaN
93023,PUTUMAYO,86,86001,MOCOA,JUAN,FRANCISCO,JIMENEZ,URIEPERO,PT,1231050,...,1845-01-01,97,1845/01/01,1845/01/01,98,98,2,5,ESE MUNICIPAL,NaN
25748,CAUCA,19,19698,SANTANDER DE QUILICHAO,MAURA,0,VIVAS,YACUE,CC,25610556,...,1845-01-01,97,1845/01/01,1845/01/01,98,98,2,5,NODO,NaN
17866,VALLE,76,76520,PALMIRA,ANA,JUDITH,CHICA,VDA DE CARMONA,CC,25145691,...,1845-01-01,97,1845/01/01,1845/01/01,98,98,2,5,NODO,NaN

In [59]:
import pandas as pd

ruta_archivo ="/content/compras_semana.csv"

datos = pd.read_csv(ruta_archivo)
datos ['total'] = datos['precio'] * datos['cantidad']

total_compras=datos['total'].sum()
print("total de compra", total_compras)

promedio_compras=datos['total'].mean()
print("promedio de compra", promedio_compras)

mediana_compras=datos['total'].median()
print("mediana de compra", mediana_compras)

compra_minima=datos['total'].min()
print("compra minima", compra_minima)

compra_maxima=datos['total'].max()
print("compra maxima", compra_maxima)

std=datos['total'].std()
print("desviacion estandar", std)

var=datos['total'].var()
print("varianza", var)

registro_conteo=datos['total'].count()
print("registro conteo", registro_conteo)

datos ['total'].describe()

total de compra 44.699999999999996
promedio de compra 4.47
mediana de compra 3.55
compra minima 2.4
compra maxima 10.0
desviacion estandar 2.6637692592765365
varianza 7.095666666666667
registro conteo 10

count    10.000000
mean      4.470000
std       2.663769
min       2.400000
25%       2.625000
50%       3.550000
75%       4.700000
max      10.000000
Name: total, dtype: float64

In [60]:
datos.describe()

          precio   cantidad      total
count  10.000000  10.000000  10.000000
mean    2.970000   2.100000   4.470000
std     2.383298   1.449138   2.663769
min     0.800000   1.000000   2.400000
25%     1.275000   1.000000   2.625000
50%     2.250000   1.500000   3.550000
75%     3.725000   2.750000   4.700000
max     8.500000   5.000000  10.000000

In [61]:
import pandas as pd
ruta_archivo = "/content/peliculas_favoritas.json"
datos = pd.read_json(ruta_archivo)
datos

                titulo   a√±o  puntuacion  duracion_minutos           genero
0  El viaje de Chihiro  2001         8.9               125        Animaci√≥n
1     La vida es bella  1997         8.6               116            Drama
2         Pulp Fiction  1994         8.5               154           Crimen
3               Matrix  1999         8.7               136  Ciencia ficci√≥n
4         Forrest Gump  1994         8.8               142            Drama
5            Inception  2010         8.8               148  Ciencia ficci√≥n

In [63]:
datos.describe()

               a√±o  puntuacion  duracion_minutos
count     6.000000    6.000000          6.000000
mean   1999.166667    8.716667        136.833333
std       5.980524    0.147196         14.288690
min    1994.000000    8.500000        116.000000
25%    1994.750000    8.625000        127.750000
50%    1998.000000    8.750000        139.000000
75%    2000.500000    8.800000        146.500000
max    2010.000000    8.900000        154.000000